.App {
  background-color: #090011;
  color: white;
  width: 100%;
  max-width: 1440px;
  /* Restrict maximum width */
  margin: 0 auto;
  /* Center the content horizontally */
  box-sizing: border-box;
  /* Include padding and border in the specified width */
}

.App-header {
  background-color: blue;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: balck;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* Ensure the navbar appears above other content */
}

.navbar {
  background: linear-gradient(180deg,
      rgba(12, 5, 25, 0.70) 8.82%,
      rgba(12, 5, 25, 0.30) 73.1%,
      rgba(12, 5, 25, 0.00) 100%);
}

.navbar .navbar-nav .nav-link {
  color: #FFF;
  font-size: 1.1em;
  max-width: 1440px;
  /* Restrict maximum width */
}

.navbar .navbar-nav .nav-link:hover {
  color: #FFF;
}

.navbar .navbar-nav .nav-item {
  position: relative;
}

.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #7920C2;
  width: 0%;
  content: "";
  height: 4px;
  transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}

.navbutton {
  width: 160px;
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 4px solid #F2994A;
  background-color: transparent;
  color: white;
  transition: all 0.3s ease; /* Add transition for smooth effect */
}

.navbutton:hover {
  border-radius: 100px;
  background: linear-gradient(93deg, #F2994A 0%, #CE7629 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 41px 66px 22px 0px rgba(242, 153, 74, 0.00), 26px 42px 20px 0px rgba(242, 153, 74, 0.01), 15px 24px 17px 0px rgba(242, 153, 74, 0.05), 7px 11px 12px 0px rgba(242, 153, 74, 0.09);
}

.landing-page .Header {
  max-width: 1440px;
  /* Restrict maximum width */
  height: 833 px;
  background-image: url('./images/Header_background.png');
  background-size: cover;
  /* Adjust to cover the entire container */
  background-position: center;
  text-align: center;
  padding-top: 87px;
  padding-bottom: 192px;
  align-items: center;
  height: 100vh;
  position: relative;
  /* Change to relative positioning */
  z-index: 100;
  /* Set a high z-index to ensure the navbar stays on top */
}

.Destination {
  width: 1440px;
  height: 605px;
  flex-shrink: 0;
  padding-top: 87px;
  text-align: center;
  margin-bottom: 130px;
}

.card {
  width: 377px;
  height: 288px;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: #0C0519; /* Start color */
  background: linear-gradient(0deg, #180C60 0%, #0C0519 100%);
  color: white;
}

.getapp {
  max-width: 1440px;
  /* Restrict maximum width */
  height: 1172px;
  background-image: url('https://s3-alpha-sig.figma.com/img/17f2/ca40/0860145af65b492343ac64f6cb625eb9?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GLaXFBIjnKxVlMlRJDRlSeM9~~DP7IKkfSZJX3HQxF3W65lbo1DVAXajGZp~aNTWgKcQHnHJTEeNruZEEn8OMGxt8VyVthxlX0PdtVWGVtyeJBlkFIUXOiwwjQivPPbsorzHlHj8B7iI69bIhzDHCZGUS1CoPCXeTNuUN1ZH84c8GrtrfM0e44K3SEbQetUSllJYr9u0~b-WRY2ujjsekfsB2NSmLXLVNoze47fguotjbks9YgJLK-XfgM~YZY10wn3RVwJ0VmXURiZ3G42cCeWAVkL302YUPwwXZ-BcpuWBKHCreF8abghTEC9bDY8weTVokpQRz2Eued64x4x9nA__');
  background-size: cover;
  /* Adjust to cover the entire container */
  background-position: center;
  
}

.Phone {
  padding-top: 44px;
  width: 937px;
  height:  456px;
  margin-left: 200px;
}

.Man{
  margin-top: 109px;
  text-align: left;
  margin-left: 55px;
}

.button1 {
  display: flex;
  padding: 10px 16px;
  width: 184px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--Primary, #7920C2);
  color: var(--Color---White, #FFF);
  border: 2px solid var(--Primary, #7920C2);
  transition: all 0.3s ease; /* Adding transition for smooth hover effect */
}

.button1:hover {
  border-radius: 100px;
  background: linear-gradient(93deg, #7920C2 0%, #6D1BB0 95.64%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 41px 66px 22px 0px rgba(121, 32, 194, 0.00), 26px 42px 20px 0px rgba(121, 32, 194, 0.01), 15px 24px 17px 0px rgba(121, 32, 194, 0.05), 7px 11px 12px 0px rgba(121, 32, 194, 0.09);
}



.Footer1 {
  width: 994px;
  height: 244px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--Primary, #7920C2);
  padding-top: 60px;
  padding-bottom: 61px;
  margin-left: 223px;
  text-align: center;
  position: relative;
  margin-bottom: -60px;
  /* Adjust this value to control the overflow */
  z-index: 1;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-top: 32px;
  margin-bottom: 63px;
  /* Adjust the gap between input fields as needed */
}

.field1 {
  display: flex;
  width: 311px;
  padding: 16px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 2px solid var(--White, #FFF);
  background: var(--Primary, #7920C2);
  color: var(--Navy-3, #180C60);
  margin-left: 85px;
}



.field2 {
  display: flex;
  width: 311px;
  padding: 16px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 2px solid var(--White, #FFF);
  background: var(--Primary, #7920C2);
  color: var(--Navy-3, #180C60);
  margin-left: 24px;

}

.button2 {
  display: flex;
  padding: 10px 16px;
  width: 184px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--Secondary, #F2994A);
  border: 2px solid var(--Secondary, #F2994A);
  color: var(--Color---White, #FFF);
}

.button2:hover {
  border-radius: 100px;
  background: linear-gradient(93deg, #F2994A 0%, #CE7629 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 41px 66px 22px 0px rgba(242, 153, 74, 0.00), 26px 42px 20px 0px rgba(242, 153, 74, 0.01), 15px 24px 17px 0px rgba(242, 153, 74, 0.05), 7px 11px 12px 0px rgba(242, 153, 74, 0.09);
}

.Footer2 {
  max-width: 1440px;
  /* Restrict maximum width */
  height: 399px;
  flex-shrink: 0;
  background: #11052D;
  padding-left: 122px;
  padding-top: 182px;
  display: flex;
  position: relative;
  z-index: 0;
}