h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 61.6px;
  /* 110% */
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.8px;
  /* 110% */
}

h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  /* 110% */
}

h4 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 35.2px;
  /* 110% */
}

h5 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.4px;
  /* 110% */
}

h6 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 110% */
}

.body {
  font-family: 'Inter', sans-serif;
  /* Replace 'Body Font' with your desired font */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}